/* Setting CSS générale. */

h1,
h2,
h3,
h4,
h5,
h6,
p,
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'verdana', sans-serif;
  color: #1f2527;
}

body {
  line-height: 1;
}


h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 22px;
}

/* Réinitialisation du rôle d'affichage HTML5 pour les navigateurs plus anciens */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  font-weight: bolder;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

input {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ccc;
  text-align: center;
  font-size: 1rem;
  margin: 5px 2px 5px 2px;
  padding: 3px 5px 3px 5px;
}

input:focus {
  background-color: #373964;
  border: none;
}

input:hover {
  box-shadow: 0px 0px 5px 5px #373964;
}

input::-webkit-input-placeholder {
  font-size: 2rem;
}

input::-moz-placeholder {
  font-size: 2rem;
}

input:-ms-input-placeholder {
  font-size: 2rem;
}

input::-ms-input-placeholder {
  font-size: 2rem;
}

input::placeholder {
  font-size: 1.5rem;
}

label::after {
  margin: 50px 50px 0px 0px;
}

label {
  font-size: 1.5rem;
}

:root {
  --greenColor: #008000;
  --shadow: 0px 0px 5px 0px #373964;
  --bgColor: #373964;
  --bleuClic974: #361fdb;
  --orangeClic974: #f44611;
  --couleurDeFond: rgb(232, 232, 232);
  --hauteurMenu: 10vh;
  --primaryColor: rgb(17, 76, 214);
  --secondaryColor: gold;
  --grisAnthracite: #303030;
  --whiteColor: #ffff;
}

.box {
  width: 100%;
  height: 99.9vh;
  border: solid black 1px;
  display: flex;
  flex-direction: row;

}

.boxMenu {
/* background-color: #008000; */
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxAffichageContent {
  /* border: solid 1px green; */
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

}



.boxMenuTitle {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  /* padding: 10px 0px 10px 0px ; */
  background-color: #146ec2;
  /* border-bottom: solid black 1px; */
  color: white;
  margin-bottom: 5px;
}

.boutonAccueil {
  width: 90%;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  color: #ececec;
  background-color: #e59500;
  box-shadow: 0px 0px 10px 1px black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px rgb(122, 122, 122);
}



.boutonAccueil:active {
  box-shadow: 0 0px black;
  top: 6px;
  color: white;
}



.boxAffichage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;

}

.dateBox {
  /* border: solid 1px red; */
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #146ec2;
  border-bottom: solid black 1px;
}

.laDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1.8rem;
  margin: 10px 0px 10px 0px;
  color: white;
  text-align: center;

}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1.8rem;
  margin: 10px 0px 10px 0px;
  color: white;
}