.box {
  width: 100%;
  /* border: solid red 1px; */
}

.boxMenuTitle {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  /* padding: 10px 0px 10px 0px ; */
  background-color: #146ec2;
  border-bottom: solid black 1px;
  color: white;
}

.boutonAccueil {
  width: 90%;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  color: #ececec;
  background-color: #e59500;
  box-shadow: 0px 0px 10px 1px black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px rgb(122, 122, 122);
}

.boutonAccueil:active {
  box-shadow: 0 0px black;
  top: 6px;
  color: white;
}



/* Setting CSS page accueil. */

.dateBox {
  /* border: solid 1px red; */
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #146ec2;
  border-bottom: solid black 1px;
}

.laDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 3rem;
  margin: 10px 0px 10px 0px;
  color: white;
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 2.5rem;
  margin: 10px 0px 10px 0px;
  color: white;
}

.box {
  /* border: solid 3px purple; */
  display: flex;
  flex-direction: row;
}

.boxMenu {
  border: solid 1px black;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.boxAffichage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;

}

.boxAffichageTitle {
  /* border: solid green 1px; */
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.boxAffichageContent {
  /* border: solid 1px green; */
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.boxCard {
  /* border: solid 1px red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px 0px 5px 0px;
}

.boxCardData1 {
  /* border: solid 1px red; */
  width: 95%;
  height: 33vh;
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxCardData2 {
  border: solid 1px green;
  width: 95%;
  height: 55vh;
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;



}



.boxCardDataTitle {
  /* border: solid 1px green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 0px 20px 0px;
  background-color: #146ec2;
  color: white;
  margin-bottom: 10px;
  font-size: 2.5rem;

}

.boxCardDataValue {
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 5.5rem;

}


.boxCardDataParams {
  /* border: solid 1px green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.boxCardDataItem {
  margin: 10px;
  text-align: center;
  font-size: 1.8rem;
}


.boxCardData2Title {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 0px 20px 0px;
  background-color: #146ec2;
  color: white;
  margin-bottom: 10px;
  font-size: 2.5rem;
}


.boxCardData2Form {
  border: solid 1px green;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}


.boxCardData2DaysHeures {
  border: solid 1px green;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;

}

.boutonActivation {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}


.boutonDeactivation {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}







.boxCardData2DaysHeures {
  font-size: 2rem;
}













.boxCardData2Form {
  /* border: solid red 1px; */
  height: 26vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.boutonActivation,
.boutonDeactivation {
  height: 50px;
}

.boxCardData2DaysHeures {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5vh;
}

.modifBlocForm {
  /* border: solid red 1px; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.boutonActivation,
.boutonDeactivation,
.demarrerCycleButton {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  box-shadow: 0 6px black;
}

.boutonDeactivation {
  background-color: red;
}

.boutonActivation:hover,
.boutonDeactivation:hover,
.demarrerCycleButton:hover {
  box-shadow: 0 4px black;
  top: 2px;
  color: white;
}

.boutonActivation:active,
.boutonDeactivation:active,
.demarrerCycleButton:active {
  box-shadow: 0 0px black;
  top: 6px;
  color: white;
}

/*! ➖➖➖➖➖➖➖➖➖➖ page Relay ➖➖➖➖➖➖➖➖➖➖ */

.boxTab {
  display: flex;
  flex-direction: row;
}

.boxRelayContent {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* border: solid yellow 1px; */
}

.boxCardRelay {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: solid green 1px; */
}

.boxCardRelay_1,
.boxCardRelay_2,
.boxCardRelay_3 {
  /* border: solid green 1px; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.boxCardRelay_1 {
  width: 24%;
}

.boxCardRelay_2 {
  width: 24%;
}

.boxCardRelay_3 {
  width: 50%;
}

.boxCardRelay_3Box {
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.boxCardRelayTitle {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  /* border: solid blue 1px; */
}

.buttonBox {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  box-shadow: var(--shadow);
}

.buttonBoxTitle {
  font-size: 1.5rem;
  text-align: center;
}

.boxCardRelayData {
  width: 95%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  background-color: white;
  /* border: solid green 1px; */
}

/*! ➖➖➖➖➖➖➖➖➖➖ page Courbes ➖➖➖➖➖➖➖➖➖➖ */

/** Info small */
.infoSmall {
  margin: 10px;
  color: red;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.infoSmallDisplay {
  display: none;
}

/** ------------------------------------------*/

.tabBox {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonBoxTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.tablink {
  width: 33%;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--bgColor);
  color: white;
  font-size: 17px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tablink:hover {
  background-color: #777;
}

.contentBox {
  /* border: solid red 1px; */
  width: 100%;
}

.tabcontent {
  /* border: solid green 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  border-radius: 10px;
}

.graph1 {
  /* border: solid green 1px; */
  width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.demarrerCycle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxButtonDemCycle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cont {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.cont1 {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

.cont2 {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

.cont3 {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}

.demarrerCycleButton {
  width: 90%;
  height: 40px;
  background-color: red;
  margin: 10px;
  color: white;
  font-weight: bolder;
}

/*! ********* FIN tabBox ******** */

/*! ********* Container à onglet ******** */



.container {
  /* border: solid green 1px; */
  width: 98%;
  margin: 10px 0px 10px 0px;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-onglets {
  background: #f1f1f1;
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #333;
}

.onglets {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.onglets:not(:nth-child(3)) {
  border-right: 1px solid #333;
}

.contenu {
  /* border: solid blue 1px; */
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 85.2%;
  position: absolute;
  opacity: 0;
  height: auto;
}

.graphData {
  width: 100%;
  height: auto;
  border: solid black 1px;
}

.graphVanne {
  border: solid black 1px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Anim */

.active {
  background: #373964;
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.active-contenu {
  -webkit-animation: fade 0.5s forwards;
  animation: fade 0.5s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Nouvelle page index html */